<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><%= link_to('Home', root_path, :class => 'button tiny') %></li>
       <li><%= link_to('Banks', banks_path, :class => 'button tiny success') %></li>
      </ul>
    </div>
    <h2 class='subheader'>banc</h2>
  </div>
</div>
